.App {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: lavenderblush;
}

.App-link {
  color: #61dafb;
}